.footer {
  height: 80px;
  padding: 0 104px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  box-sizing: border-box;
  font-family: "Roboto Regular";
  font-style: normal;
  font-weight: normal;
}

.footer__copyright {
  margin: 0 auto 0 0;
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: 16px;
  line-height: 1.37;
  color: #b6bcbf;
}

.footer__links {
  padding: 0;
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
  list-style-type: none;
  display: flex;
}

.footer__link {
  padding: 0 22px;
  font-size: 18px;
  line-height: 1.33;
  text-decoration: none;
  text-align: center;
  color: #1a1b22;
  transition: opacity 0.4s ease;
}

.footer__link:hover {
  opacity: 0.6;
}

.footer__social-links {
  margin: 0 0 0 14px;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
  list-style-type: none;
  display: flex;
}

.footer__social-link {
  margin-left: 28px;
  transition: opacity 0.4s ease;
}


.footer__social-link:hover {
  opacity: 0.6;
}

@media screen and (max-width: 1025px) {
  .footer {
    height: 64px;
    padding: 0 40px;
    display: flex;
  }

  .footer__link {
    padding: 0 10px;
  }
  
  .footer__social-links {
    margin: 0;
  }
  
  .footer__social-link {
    margin-left: 26px;
  }
}

@media screen and (max-width: 740px) {
  .footer {
    height: 224px;
    padding: 20px 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: space-between;
  }

  .footer__copyright{
    order: 3;
  }

  .footer__links {
    flex-direction: column;
    align-items: flex-start;
    width: 60%;
  }

  .footer__link {
    padding: 0 10px;
    margin-bottom: 48px;
    display: block;
  }
  
  .footer__social-links {
    width: 40%;
    margin: 0;
    justify-content: flex-end;
  }
  
  .footer__social-link {
    margin-left: 26px;
  }
}