.about {
  padding: 80px 0;
  display: grid;
  grid-template-columns: 32% 42% ;
  gap: 56px;
  justify-content: center;
}

.about__avatar {
  width: 32vw;
  max-width: 464px;
  height: 32vw;
  max-height: 464px;
  align-self: center;
  object-fit: cover;
  border-radius: 50%;
}

.about__text-container {
  max-width: 600px;
}

.about__title {
  font-family: "Roboto Slab Regular";
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 1.15;
  color: #1a1b22;
}

.about__text {
  margin-bottom: 24px;
  font-family: "Roboto Regular";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.33;
  color: #1a1b22;
}

@media screen and (max-width: 1025px) {
  .about {
    padding: 40px 0;
    grid-template-columns: 30% 55% ;
    gap: 32px;
  }
  
  .about__avatar {
    width: 30vw;
    height: 30vw;
  }
  
  .about__title {  
    font-size: 30px;
    line-height: 1.33;
  }
}


@media screen and (max-width: 740px) {
  .about {
    padding: 16px;
    grid-template-columns: 1fr ;
    gap: 24px;
  }
  
  .about__avatar {
    margin-top: 16px;
    width: 272px;
    height: 272px;
    justify-self: center;
    place-self: center;
  }

  .about__text-container {
    margin-bottom: 40px;
  }
}
