.preloader {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.preloader__indicator {
  display: block;
  width: 74px;
  height: 74px;
  margin-bottom: 24px;
  border: 1px solid #444;
  border-bottom-color: #888;
  border-radius: 50%;
  animation: spin 0.75s infinite linear;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.preloader__not-found-icon {
    width: 96px;
    height: 96px;
    object-fit: cover;
    margin-bottom: 24px;
}

.preloader__not-found-title {
  margin-bottom: 16px;
  font-family: "Roboto Slab Regular";
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 1.15;
  text-align: center;
  color: #1a1b22;
}

.preloader__text {
  max-width: 340px;
  font-family: "Roboto Regular";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
  color: #b6bcbf;
}
